<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinuo.mapper.CustomedItemMapper">
  <select id="queryItemComments" parameterType="Map" resultType="com.yinuo.pojo.vo.ItemCommentsVO">
    SELECT
    ic.comment_level as commentLevel,
    ic.content as content,
    ic.sepc_name as specName,
    ic.created_time as createdTime,
    u.avadar as avadar,
    u.nickname as nickname
    FROM
    item_comments ic
    LEFT JOIN
    user u
    ON
    ic.user_id = u.id
    WHERE
    ic.item_id = #{paramsMap.itemId}
    <if test=" paramsMap.level != null and paramsMap.level != '' ">
      AND ic.comment_level = #{paramsMap.level}
    </if>
  </select>

  <select id="searchItems" parameterType="Map" resultType="com.yinuo.pojo.vo.SearchItemsVO">
    SELECT
    i.id as itemId,
    i.item_name as itemName,
    i.sell_counts as sellCounts,
    ii.url as imgUrl,
    tempSpec.price_discount as price
    FROM
    item i
    LEFT JOIN
    item_img ii
    on
    i.id = ii.item_id
    LEFT JOIN
    (SELECT item_id,MIN(price_discount) as price_discount from item_spec GROUP BY item_id) tempSpec
    on
    i.id = tempSpec.item_id
    WHERE
    ii.is_main = 1
    <if test=" paramsMap.keywords != null and paramsMap.keywords != '' ">
      AND i.item_name like '%${paramsMap.keywords}%'
    </if>
    order by
    <choose>
      <when test=" paramsMap.sort == &quot;c&quot; ">
        i.sell_counts desc
      </when>
      <when test=" paramsMap.sort == &quot;p&quot; ">
        tempSpec.price_discount asc
      </when>
      <otherwise>
        i.item_name asc
      </otherwise>
    </choose>
  </select>

  <select id="searchItemsByThirdCat" parameterType="Map" resultType="com.yinuo.pojo.vo.SearchItemsVO">
    SELECT
    i.id as itemId,
    i.item_name as itemName,
    i.sell_counts as sellCounts,
    ii.url as imgUrl,
    tempSpec.price_discount as price
    FROM
    item i
    LEFT JOIN
    item_img ii
    on
    i.id = ii.item_id
    LEFT JOIN
    (SELECT item_id,MIN(price_discount) as price_discount from item_spec GROUP BY item_id) tempSpec
    on
    i.id = tempSpec.item_id
    WHERE
    ii.is_main = 1
    and
    i.category_id = #{paramsMap.catId}
    order by
    <choose>
      <when test=" paramsMap.sort == &quot;c&quot; ">
        i.sell_counts desc
      </when>
      <when test=" paramsMap.sort == &quot;p&quot; ">
        tempSpec.price_discount asc
      </when>
      <otherwise>
        i.item_name asc
      </otherwise>
    </choose>
  </select>

  <select id="queryItemsBySpecIds" parameterType="List" resultType="com.yinuo.pojo.vo.ShoppingCartVO">
    SELECT
    t_item.id as itemId,
    t_item.item_name as itemName,
    t_item_img.url as itemImgUrl,
    t_item_spec.id as specId,
    t_item_spec.`name` as specName,
    t_item_spec.price_discount as priceDiscount,
    t_item_spec.original_price as originalPrice
    FROM
    item_spec t_item_spec
    LEFT JOIN
    item t_item
    ON
    t_item.id = t_item_spec.item_id
    LEFT JOIN
    item_img t_item_img
    on
    t_item_img.item_id = t_item.id
    WHERE
    t_item_img.is_main = 1
    AND
    t_item_spec.id IN
    <foreach collection="paramsList" index="index" item="specId" open="(" separator="," close=")">
      #{specId}
    </foreach>
  </select>
</mapper>