<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinuo.mapper.CustomedCategoryMapper" >

  <resultMap id="CategoryVO" type="com.yinuo.pojo.vo.CategoryVO">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="level" property="level"/>
    <result column="fatherId" property="fatherId"/>

    <collection property="subCatList" ofType="com.yinuo.pojo.vo.SubCategoryVO">
      <id column="subId" property="subId"/>
      <result column="subName" property="subName"/>
      <result column="subLevel" property="subLevel"/>
      <result column="subFatherId" property="subFatherId"/>
    </collection>
  </resultMap>
  <select id="getSubCategories" resultMap="CategoryVO" parameterType="int">
      SELECT
      f.id as id,
      f.`name` as `name`,
      f.level as level,
      f.father_id as fatherId,
      c.id as subId,
      c.`name` as subName,
      c.level as subLevel,
      c.father_id as subFatherId
      FROM
      category f
      LEFT JOIN
      category c
      on
      f.id = c.father_id
      WHERE
      f.father_id = #{rootCatId}
  </select>

    <resultMap id="NewItemsVO" type="com.yinuo.pojo.vo.NewItemsVO">
        <id column="rootCatId" property="rootCatId"/>
        <result column="rootCatName" property="rootCatName"/>
        <result column="slogan" property="slogan"/>
        <result column="catImage" property="catImage"/>
        <result column="bgColor" property="bgColor"/>

        <collection property="simpleItemList" ofType="com.yinuo.pojo.vo.SimpleItemVO">
            <id column="itemId" property="itemId"/>
            <result column="itemName" property="itemName"/>
            <result column="itemUrl" property="itemUrl"/>
        </collection>
    </resultMap>

    <select id="getNewItems" resultMap="NewItemsVO" parameterType="Map">
        SELECT
            f.id as rootCatId,
            f.`name` as rootCatName,
            f.slogan as slogan,
            f.category_image as catImage,
            f.bg_color as bgColor,
            i.id as itemId,
            i.item_name as itemName,
            ii.url as itemUrl,
            i.created_time as createdTime
        FROM
            category f
        LEFT JOIN items i ON f.id = i.root_cat_id
        LEFT JOIN items_img ii ON i.id = ii.item_id
        WHERE
            f.level = 1
        AND
            i.root_cat_id = #{paramsMap.rootCatId}
        AND
            ii.is_main = 1
        ORDER BY
            i.created_time
        DESC
        LIMIT 0,6
    </select>

</mapper>